<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sn.dao.picc.PiccPunctureconsultationMapper" >
  <resultMap id="BaseResultMap" type="com.sn.entity.picc.PiccPunctureconsultation" >
    <id column="Fuid" property="fuid" jdbcType="VARCHAR" />
        <result property="patientId" column="patientId"  jdbcType="VARCHAR" />
        <result property="bloodRoutine" column="BloodRoutine"  jdbcType="BIT" />
        <result property="wbc" column="WBC"  jdbcType="VARCHAR" />
        <result property="plt" column="PLT"  jdbcType="VARCHAR" />
        <result property="bloodClotting" column="BloodClotting"  jdbcType="BIT" />
        <result property="pt" column="PT"  jdbcType="VARCHAR" />
        <result property="cphone" column="cphone"  jdbcType="VARCHAR" />
        <result property="drjt" column="DRJT"  jdbcType="VARCHAR" />
        <result property="consultationLevel" column="ConsultationLevel"  jdbcType="INTEGER" />
        <result property="purpose" column="purpose"  jdbcType="VARCHAR" />
        <result property="punctureCauses" column="PunctureCauses"  jdbcType="VARCHAR" />
        <result property="chemotherapyTime" column="chemotherapyTime"  jdbcType="INTEGER" />
        <result property="bedside" column="Bedside"  jdbcType="BIT" />
        <result property="punctureMethod" column="PunctureMethod"  jdbcType="VARCHAR" />
        <result property="applicantCode" column="applicantCode"  jdbcType="VARCHAR" />
        <result property="sapplicant" column="sapplicant"  jdbcType="VARCHAR" />
        <result property="department" column="Department"  jdbcType="VARCHAR" />
        <result property="trumpet" column="Trumpet"  jdbcType="VARCHAR" />
        <result property="invitation" column="Invitation"  jdbcType="VARCHAR" />
        <result property="consultationPeople" column="ConsultationPeople"  jdbcType="VARCHAR" />
        <result property="invitationTime" column="InvitationTime"  jdbcType="TIMESTAMP" />
        <result property="consultationAdvice" column="ConsultationAdvice"  jdbcType="VARCHAR" />
        <result property="createdate" column="createdate"  jdbcType="TIMESTAMP" />
		   
  </resultMap>
  <sql id="Base_Column_List" >
         FUID ,
         patientId ,
         BloodRoutine ,
         WBC ,
         PLT ,
         BloodClotting ,
         PT ,
         cphone ,
         DRJT ,
         ConsultationLevel ,
         purpose ,
         PunctureCauses ,
         chemotherapyTime ,
         Bedside ,
         PunctureMethod ,
         applicantCode ,
         sapplicant ,
         Department ,
         Trumpet ,
         Invitation ,
         ConsultationPeople ,
         InvitationTime ,
         ConsultationAdvice ,
         createdate 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT  <include refid="Base_Column_List" />
	    from picc_punctureconsultation
		      where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from picc_punctureconsultation
    	where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </delete>
  <insert id="insert" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
    
         insert into picc_punctureconsultation ( 
         		FUID , 
         	          		patientId , 
         	          		BloodRoutine , 
         	          		WBC , 
         	          		PLT , 
         	          		BloodClotting , 
         	          		PT , 
         	          		cphone , 
         	          		DRJT , 
         	          		ConsultationLevel , 
         	          		purpose , 
         	          		PunctureCauses , 
         	          		chemotherapyTime , 
         	          		Bedside , 
         	          		PunctureMethod , 
         	          		applicantCode , 
         	          		sapplicant , 
         	          		Department , 
         	          		Trumpet , 
         	          		Invitation , 
         	          		ConsultationPeople , 
         	          		InvitationTime , 
         	          		ConsultationAdvice , 
         	          		createdate  
         	 )
   	 	values (
   	 		#{fuid,jdbcType=VARCHAR} , 
   	 	   	 		#{patientId,jdbcType=VARCHAR} , 
   	 	   	 		#{bloodRoutine,jdbcType=BIT} , 
   	 	   	 		#{wbc,jdbcType=VARCHAR} , 
   	 	   	 		#{plt,jdbcType=VARCHAR} , 
   	 	   	 		#{bloodClotting,jdbcType=BIT} , 
   	 	   	 		#{pt,jdbcType=VARCHAR} , 
   	 	   	 		#{cphone,jdbcType=VARCHAR} , 
   	 	   	 		#{drjt,jdbcType=VARCHAR} , 
   	 	   	 		#{consultationLevel,jdbcType=INTEGER} , 
   	 	   	 		#{purpose,jdbcType=VARCHAR} , 
   	 	   	 		#{punctureCauses,jdbcType=VARCHAR} , 
   	 	   	 		#{chemotherapyTime,jdbcType=INTEGER} , 
   	 	   	 		#{bedside,jdbcType=BIT} , 
   	 	   	 		#{punctureMethod,jdbcType=VARCHAR} , 
   	 	   	 		#{applicantCode,jdbcType=VARCHAR} , 
   	 	   	 		#{sapplicant,jdbcType=VARCHAR} , 
   	 	   	 		#{department,jdbcType=VARCHAR} , 
   	 	   	 		#{trumpet,jdbcType=VARCHAR} , 
   	 	   	 		#{invitation,jdbcType=VARCHAR} , 
   	 	   	 		#{consultationPeople,jdbcType=VARCHAR} , 
   	 	   	 		#{invitationTime,jdbcType=TIMESTAMP} , 
   	 	   	 		#{consultationAdvice,jdbcType=VARCHAR} , 
   	 	   	 		#{createdate,jdbcType=TIMESTAMP}  
   	 	)
  </insert>
  
      
  
   <insert id="insertSelective" parameterType="com.sn.entity.picc.PiccPunctureconsultation">
  	  insert into  picc_punctureconsultation
  	  
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   
  	  	<if test="fuid != null" >
  	 	  FUID ,  
  	  	</if>
  	  	<if test="patientId != null" >
  	 	  patientId ,  
  	  	</if>
  	  	<if test="bloodRoutine != null" >
  	 	  BloodRoutine ,  
  	  	</if>
  	  	<if test="wbc != null" >
  	 	  WBC ,  
  	  	</if>
  	  	<if test="plt != null" >
  	 	  PLT ,  
  	  	</if>
  	  	<if test="bloodClotting != null" >
  	 	  BloodClotting ,  
  	  	</if>
  	  	<if test="pt != null" >
  	 	  PT ,  
  	  	</if>
  	  	<if test="cphone != null" >
  	 	  cphone ,  
  	  	</if>
  	  	<if test="drjt != null" >
  	 	  DRJT ,  
  	  	</if>
  	  	<if test="consultationLevel != null" >
  	 	  ConsultationLevel ,  
  	  	</if>
  	  	<if test="purpose != null" >
  	 	  purpose ,  
  	  	</if>
  	  	<if test="punctureCauses != null" >
  	 	  PunctureCauses ,  
  	  	</if>
  	  	<if test="chemotherapyTime != null" >
  	 	  chemotherapyTime ,  
  	  	</if>
  	  	<if test="bedside != null" >
  	 	  Bedside ,  
  	  	</if>
  	  	<if test="punctureMethod != null" >
  	 	  PunctureMethod ,  
  	  	</if>
  	  	<if test="applicantCode != null" >
  	 	  applicantCode ,  
  	  	</if>
  	  	<if test="sapplicant != null" >
  	 	  sapplicant ,  
  	  	</if>
  	  	<if test="department != null" >
  	 	  Department ,  
  	  	</if>
  	  	<if test="trumpet != null" >
  	 	  Trumpet ,  
  	  	</if>
  	  	<if test="invitation != null" >
  	 	  Invitation ,  
  	  	</if>
  	  	<if test="consultationPeople != null" >
  	 	  ConsultationPeople ,  
  	  	</if>
  	  	<if test="invitationTime != null" >
  	 	  InvitationTime ,  
  	  	</if>
  	  	<if test="consultationAdvice != null" >
  	 	  ConsultationAdvice ,  
  	  	</if>
  	  	<if test="createdate != null" >
  	 	  createdate   
  	  	</if>
  	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="fuid != null" >
        	#{fuid,jdbcType=VARCHAR} , 
       </if>
    	<if test="patientId != null" >
        	#{patientId,jdbcType=VARCHAR} , 
       </if>
    	<if test="bloodRoutine != null" >
        	#{bloodRoutine,jdbcType=BIT} , 
       </if>
    	<if test="wbc != null" >
        	#{wbc,jdbcType=VARCHAR} , 
       </if>
    	<if test="plt != null" >
        	#{plt,jdbcType=VARCHAR} , 
       </if>
    	<if test="bloodClotting != null" >
        	#{bloodClotting,jdbcType=BIT} , 
       </if>
    	<if test="pt != null" >
        	#{pt,jdbcType=VARCHAR} , 
       </if>
    	<if test="cphone != null" >
        	#{cphone,jdbcType=VARCHAR} , 
       </if>
    	<if test="drjt != null" >
        	#{drjt,jdbcType=VARCHAR} , 
       </if>
    	<if test="consultationLevel != null" >
        	#{consultationLevel,jdbcType=INTEGER} , 
       </if>
    	<if test="purpose != null" >
        	#{purpose,jdbcType=VARCHAR} , 
       </if>
    	<if test="punctureCauses != null" >
        	#{punctureCauses,jdbcType=VARCHAR} , 
       </if>
    	<if test="chemotherapyTime != null" >
        	#{chemotherapyTime,jdbcType=INTEGER} , 
       </if>
    	<if test="bedside != null" >
        	#{bedside,jdbcType=BIT} , 
       </if>
    	<if test="punctureMethod != null" >
        	#{punctureMethod,jdbcType=VARCHAR} , 
       </if>
    	<if test="applicantCode != null" >
        	#{applicantCode,jdbcType=VARCHAR} , 
       </if>
    	<if test="sapplicant != null" >
        	#{sapplicant,jdbcType=VARCHAR} , 
       </if>
    	<if test="department != null" >
        	#{department,jdbcType=VARCHAR} , 
       </if>
    	<if test="trumpet != null" >
        	#{trumpet,jdbcType=VARCHAR} , 
       </if>
    	<if test="invitation != null" >
        	#{invitation,jdbcType=VARCHAR} , 
       </if>
    	<if test="consultationPeople != null" >
        	#{consultationPeople,jdbcType=VARCHAR} , 
       </if>
    	<if test="invitationTime != null" >
        	#{invitationTime,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="consultationAdvice != null" >
        	#{consultationAdvice,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	#{createdate,jdbcType=TIMESTAMP}  
       </if>
       </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
    update  picc_punctureconsultation
    <set >
    	<if test="patientId != null" >
        	  patientId=#{patientId,jdbcType=VARCHAR} , 
       </if>
    	<if test="bloodRoutine != null" >
        	  BloodRoutine=#{bloodRoutine,jdbcType=BIT} , 
       </if>
    	<if test="wbc != null" >
        	  WBC=#{wbc,jdbcType=VARCHAR} , 
       </if>
    	<if test="plt != null" >
        	  PLT=#{plt,jdbcType=VARCHAR} , 
       </if>
    	<if test="bloodClotting != null" >
        	  BloodClotting=#{bloodClotting,jdbcType=BIT} , 
       </if>
    	<if test="pt != null" >
        	  PT=#{pt,jdbcType=VARCHAR} , 
       </if>
    	<if test="cphone != null" >
        	  cphone=#{cphone,jdbcType=VARCHAR} , 
       </if>
    	<if test="drjt != null" >
        	  DRJT=#{drjt,jdbcType=VARCHAR} , 
       </if>
    	<if test="consultationLevel != null" >
        	  ConsultationLevel=#{consultationLevel,jdbcType=INTEGER} , 
       </if>
    	<if test="purpose != null" >
        	  purpose=#{purpose,jdbcType=VARCHAR} , 
       </if>
    	<if test="punctureCauses != null" >
        	  PunctureCauses=#{punctureCauses,jdbcType=VARCHAR} , 
       </if>
    	<if test="chemotherapyTime != null" >
        	  chemotherapyTime=#{chemotherapyTime,jdbcType=INTEGER} , 
       </if>
    	<if test="bedside != null" >
        	  Bedside=#{bedside,jdbcType=BIT} , 
       </if>
    	<if test="punctureMethod != null" >
        	  PunctureMethod=#{punctureMethod,jdbcType=VARCHAR} , 
       </if>
    	<if test="applicantCode != null" >
        	  applicantCode=#{applicantCode,jdbcType=VARCHAR} , 
       </if>
    	<if test="sapplicant != null" >
        	  sapplicant=#{sapplicant,jdbcType=VARCHAR} , 
       </if>
    	<if test="department != null" >
        	  Department=#{department,jdbcType=VARCHAR} , 
       </if>
    	<if test="trumpet != null" >
        	  Trumpet=#{trumpet,jdbcType=VARCHAR} , 
       </if>
    	<if test="invitation != null" >
        	  Invitation=#{invitation,jdbcType=VARCHAR} , 
       </if>
    	<if test="consultationPeople != null" >
        	  ConsultationPeople=#{consultationPeople,jdbcType=VARCHAR} , 
       </if>
    	<if test="invitationTime != null" >
        	  InvitationTime=#{invitationTime,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="consultationAdvice != null" >
        	  ConsultationAdvice=#{consultationAdvice,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	  createdate=#{createdate,jdbcType=TIMESTAMP}  
       </if>
 	 </set>
    where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
		 </update>        
		        
<update id="updateByPrimaryKey" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
    update picc_punctureconsultation
    set 
        	  patientId=#{patientId,jdbcType=VARCHAR} , 
        	  BloodRoutine=#{bloodRoutine,jdbcType=BIT} , 
        	  WBC=#{wbc,jdbcType=VARCHAR} , 
        	  PLT=#{plt,jdbcType=VARCHAR} , 
        	  BloodClotting=#{bloodClotting,jdbcType=BIT} , 
        	  PT=#{pt,jdbcType=VARCHAR} , 
        	  cphone=#{cphone,jdbcType=VARCHAR} , 
        	  DRJT=#{drjt,jdbcType=VARCHAR} , 
        	  ConsultationLevel=#{consultationLevel,jdbcType=INTEGER} , 
        	  purpose=#{purpose,jdbcType=VARCHAR} , 
        	  PunctureCauses=#{punctureCauses,jdbcType=VARCHAR} , 
        	  chemotherapyTime=#{chemotherapyTime,jdbcType=INTEGER} , 
        	  Bedside=#{bedside,jdbcType=BIT} , 
        	  PunctureMethod=#{punctureMethod,jdbcType=VARCHAR} , 
        	  applicantCode=#{applicantCode,jdbcType=VARCHAR} , 
        	  sapplicant=#{sapplicant,jdbcType=VARCHAR} , 
        	  Department=#{department,jdbcType=VARCHAR} , 
        	  Trumpet=#{trumpet,jdbcType=VARCHAR} , 
        	  Invitation=#{invitation,jdbcType=VARCHAR} , 
        	  ConsultationPeople=#{consultationPeople,jdbcType=VARCHAR} , 
        	  InvitationTime=#{invitationTime,jdbcType=TIMESTAMP} , 
        	  ConsultationAdvice=#{consultationAdvice,jdbcType=VARCHAR} , 
        	  createdate=#{createdate,jdbcType=TIMESTAMP}  
      where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
    select 
    <include refid="Base_Column_List" />
    from picc_punctureconsultation
   <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="patientId != null" >
  	 		   and    patientId  = #{patientId}  
  	  	</if>
  	  	<if test="bloodRoutine != null" >
  	 		   and    BloodRoutine  = #{bloodRoutine}  
  	  	</if>
  	  	<if test="wbc != null" >
  	 		   and    WBC  = #{wbc}  
  	  	</if>
  	  	<if test="plt != null" >
  	 		   and    PLT  = #{plt}  
  	  	</if>
  	  	<if test="bloodClotting != null" >
  	 		   and    BloodClotting  = #{bloodClotting}  
  	  	</if>
  	  	<if test="pt != null" >
  	 		   and    PT  = #{pt}  
  	  	</if>
  	  	<if test="cphone != null" >
  	 		   and    cphone  = #{cphone}  
  	  	</if>
  	  	<if test="drjt != null" >
  	 		   and    DRJT  = #{drjt}  
  	  	</if>
  	  	<if test="consultationLevel != null" >
  	 		   and    ConsultationLevel  = #{consultationLevel}  
  	  	</if>
  	  	<if test="purpose != null" >
  	 		   and    purpose  = #{purpose}  
  	  	</if>
  	  	<if test="punctureCauses != null" >
  	 		   and    PunctureCauses  = #{punctureCauses}  
  	  	</if>
  	  	<if test="chemotherapyTime != null" >
  	 		   and    chemotherapyTime  = #{chemotherapyTime}  
  	  	</if>
  	  	<if test="bedside != null" >
  	 		   and    Bedside  = #{bedside}  
  	  	</if>
  	  	<if test="punctureMethod != null" >
  	 		   and    PunctureMethod  = #{punctureMethod}  
  	  	</if>
  	  	<if test="applicantCode != null" >
  	 		   and    applicantCode  = #{applicantCode}  
  	  	</if>
  	  	<if test="sapplicant != null" >
  	 		   and    sapplicant  = #{sapplicant}  
  	  	</if>
  	  	<if test="department != null" >
  	 		   and    Department  = #{department}  
  	  	</if>
  	  	<if test="trumpet != null" >
  	 		   and    Trumpet  = #{trumpet}  
  	  	</if>
  	  	<if test="invitation != null" >
  	 		   and    Invitation  = #{invitation}  
  	  	</if>
  	  	<if test="consultationPeople != null" >
  	 		   and    ConsultationPeople  = #{consultationPeople}  
  	  	</if>
  	  	<if test="invitationTime != null" >
  	 		   and    InvitationTime  = #{invitationTime}  
  	  	</if>
  	  	<if test="consultationAdvice != null" >
  	 		   and    ConsultationAdvice  = #{consultationAdvice}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    createdate  = #{createdate}  
  	  	</if>
    </where>  
  </select>
  
  <delete id="deleteByColum"  parameterType="com.sn.entity.picc.PiccPunctureconsultation">  
    DELETE FROM picc_punctureconsultation  
      <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="patientId != null" >
  	 		   and    patientId  = #{patientId}  
  	  	</if>
  	  	<if test="bloodRoutine != null" >
  	 		   and    BloodRoutine  = #{bloodRoutine}  
  	  	</if>
  	  	<if test="wbc != null" >
  	 		   and    WBC  = #{wbc}  
  	  	</if>
  	  	<if test="plt != null" >
  	 		   and    PLT  = #{plt}  
  	  	</if>
  	  	<if test="bloodClotting != null" >
  	 		   and    BloodClotting  = #{bloodClotting}  
  	  	</if>
  	  	<if test="pt != null" >
  	 		   and    PT  = #{pt}  
  	  	</if>
  	  	<if test="cphone != null" >
  	 		   and    cphone  = #{cphone}  
  	  	</if>
  	  	<if test="drjt != null" >
  	 		   and    DRJT  = #{drjt}  
  	  	</if>
  	  	<if test="consultationLevel != null" >
  	 		   and    ConsultationLevel  = #{consultationLevel}  
  	  	</if>
  	  	<if test="purpose != null" >
  	 		   and    purpose  = #{purpose}  
  	  	</if>
  	  	<if test="punctureCauses != null" >
  	 		   and    PunctureCauses  = #{punctureCauses}  
  	  	</if>
  	  	<if test="chemotherapyTime != null" >
  	 		   and    chemotherapyTime  = #{chemotherapyTime}  
  	  	</if>
  	  	<if test="bedside != null" >
  	 		   and    Bedside  = #{bedside}  
  	  	</if>
  	  	<if test="punctureMethod != null" >
  	 		   and    PunctureMethod  = #{punctureMethod}  
  	  	</if>
  	  	<if test="applicantCode != null" >
  	 		   and    applicantCode  = #{applicantCode}  
  	  	</if>
  	  	<if test="sapplicant != null" >
  	 		   and    sapplicant  = #{sapplicant}  
  	  	</if>
  	  	<if test="department != null" >
  	 		   and    Department  = #{department}  
  	  	</if>
  	  	<if test="trumpet != null" >
  	 		   and    Trumpet  = #{trumpet}  
  	  	</if>
  	  	<if test="invitation != null" >
  	 		   and    Invitation  = #{invitation}  
  	  	</if>
  	  	<if test="consultationPeople != null" >
  	 		   and    ConsultationPeople  = #{consultationPeople}  
  	  	</if>
  	  	<if test="invitationTime != null" >
  	 		   and    InvitationTime  = #{invitationTime}  
  	  	</if>
  	  	<if test="consultationAdvice != null" >
  	 		   and    ConsultationAdvice  = #{consultationAdvice}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    createdate  = #{createdate}  
  	  	</if>
  	  </where>  
</delete>

<delete id="deleteByByPrimaryKeys" parameterType="java.util.List">  
    DELETE FROM  picc_punctureconsultation WHERE 
		        FUID 
     IN  
    <foreach collection="list" item="item" open="(" separator="," close=")">   
        #{item}  
    </foreach>  
</delete>

<select id="countByColum" resultType="java.lang.Integer" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
select count(*) from picc_punctureconsultation
 <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="patientId != null" >
  	 		   and    patientId  = #{patientId}  
  	  	</if>
  	  	<if test="bloodRoutine != null" >
  	 		   and    BloodRoutine  = #{bloodRoutine}  
  	  	</if>
  	  	<if test="wbc != null" >
  	 		   and    WBC  = #{wbc}  
  	  	</if>
  	  	<if test="plt != null" >
  	 		   and    PLT  = #{plt}  
  	  	</if>
  	  	<if test="bloodClotting != null" >
  	 		   and    BloodClotting  = #{bloodClotting}  
  	  	</if>
  	  	<if test="pt != null" >
  	 		   and    PT  = #{pt}  
  	  	</if>
  	  	<if test="cphone != null" >
  	 		   and    cphone  = #{cphone}  
  	  	</if>
  	  	<if test="drjt != null" >
  	 		   and    DRJT  = #{drjt}  
  	  	</if>
  	  	<if test="consultationLevel != null" >
  	 		   and    ConsultationLevel  = #{consultationLevel}  
  	  	</if>
  	  	<if test="purpose != null" >
  	 		   and    purpose  = #{purpose}  
  	  	</if>
  	  	<if test="punctureCauses != null" >
  	 		   and    PunctureCauses  = #{punctureCauses}  
  	  	</if>
  	  	<if test="chemotherapyTime != null" >
  	 		   and    chemotherapyTime  = #{chemotherapyTime}  
  	  	</if>
  	  	<if test="bedside != null" >
  	 		   and    Bedside  = #{bedside}  
  	  	</if>
  	  	<if test="punctureMethod != null" >
  	 		   and    PunctureMethod  = #{punctureMethod}  
  	  	</if>
  	  	<if test="applicantCode != null" >
  	 		   and    applicantCode  = #{applicantCode}  
  	  	</if>
  	  	<if test="sapplicant != null" >
  	 		   and    sapplicant  = #{sapplicant}  
  	  	</if>
  	  	<if test="department != null" >
  	 		   and    Department  = #{department}  
  	  	</if>
  	  	<if test="trumpet != null" >
  	 		   and    Trumpet  = #{trumpet}  
  	  	</if>
  	  	<if test="invitation != null" >
  	 		   and    Invitation  = #{invitation}  
  	  	</if>
  	  	<if test="consultationPeople != null" >
  	 		   and    ConsultationPeople  = #{consultationPeople}  
  	  	</if>
  	  	<if test="invitationTime != null" >
  	 		   and    InvitationTime  = #{invitationTime}  
  	  	</if>
  	  	<if test="consultationAdvice != null" >
  	 		   and    ConsultationAdvice  = #{consultationAdvice}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    createdate  = #{createdate}  
  	  	</if>
    </where>  
</select>

<select id="selectAll"  resultMap="BaseResultMap"  >
select * from picc_punctureconsultation 
</select>

  <!--   自定义方法区域 -->
  
  <select  id="selectLikeColum"  resultMap="BaseResultMap"   >
		select  
		 <include refid="Base_Column_List" />
  	  from picc_punctureconsultation where  
     #{0}   LIKE CONCAT('%','#{1}','%' ) 
	</select>
	
	<select id="selectByCustom" resultMap="BaseResultMap" parameterType="com.sn.entity.picc.PiccPunctureconsultation" >
    select 
    <include refid="Base_Column_List" />
    from picc_punctureconsultation
      <where>  
		 
  	  	</where>
	</select>
	
</mapper>